<% include ../includes/head.ejs %>
</head>

<body>
    <% include ../includes/navigation.ejs %>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= product.title%></h6>
                <p class="card-text">
                    <%= product.description%>
                </p>
                <p class="card-text">
                    <%= product.price %>
                </p>
                <%- include ../includes/add-to-cart.ejs%>
            </div>
        </div>
    </div>
    <% include ../includes/end.ejs %>
